/**
 * Bootstrap CSS
 *
 */
.carousel {
	position: relative;
	margin-bottom: 20px;
	line-height: 1;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow:hidden;
}


.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
	display: block;
	line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
	display: block;
}

.carousel-inner > .active {
	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .next {
	left: 100%;
}

.carousel-inner > .prev {
	left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
	left: 0;
}

.carousel-inner > .active.left {
	left: -100%;
}

.carousel-inner > .active.right {
	left: 100%;
}

.gp_twitter_carousel .carousel-control,
.gp_twitter_carousel .carousel-control-prev,
.gp_twitter_carousel .carousel-control-next{
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	text-align: center;

	background: transparent !important;
	background: rgba(0,0,0,0) !important;
	border: 0 none;
	color: #666;
	font-size: 100px;
	height: 80px;
	margin-top: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.gp_twitter_carousel .carousel-control.right,
.gp_twitter_carousel .carousel-control-next {
	right: 15px;
	left: auto;
}

.gp_twitter_carousel .carousel-control:hover,
.gp_twitter_carousel .carousel-control:focus,
.gp_twitter_carousel .carousel-control-prev:hover,
.gp_twitter_carousel .carousel-control-prev:focus,
.gp_twitter_carousel .carousel-control-next:hover,
.gp_twitter_carousel .carousel-control-next:focus {
	color:#666;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}


/**
 * Added For gpEasy
 *
 */
.gp_twitter_carousel{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	position:relative;
	height: auto; /* for ie */
}
.gp_twitter_carousel > div{
	padding-bottom:30%; /* responsive height */
}


.gp_twitter_carousel .carousel-indicators a,
.gp_twitter_carousel .carousel-indicators div{
	display:none;
}

.gp_twitter_carousel .carousel-control,
.gp_twitter_carousel .carousel-control-prev,
.gp_twitter_carousel .carousel-control-next{
	cursor:pointer;
}

.gp_twitter_carousel .carousel-caption{
	color:#fff;
}

.gp_twitter_carousel .carousel-inner{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.gp_twitter_carousel .carousel-item{
	height:100%;
}


.gp_twitter_carousel .carousel-item img{
	height:100% !important;
	width:100%;

	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}

.gp_twitter_carousel .no_caption{
	display:none;
}


@media (max-width: 480px) {
	.carousel{
		margin-bottom:36px;
	}
	.carousel-caption{
		position:static;
		height:16px;
	}
	.carousel-caption,
	.carousel-caption *{
		font-size: 14px;
		font-weight:normal;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.carousel-control,
	.carousel-control-prev,
	.carousel-control-next{
		display:none;
	}
	.carousel-inner {
		overflow: visible;
	}

}